export(otherworlds_palette)
export(otherworlds_palettes)
export(otherworlds_continuous_palette)
export(otherworlds_continuous_palettes)
export(scale_color_otherworlds)
export(scale_color_otherworlds_c)
export(scale_colour_otherworlds)
export(scale_colour_otherworlds_c)
export(scale_fill_otherworlds)
export(scale_fill_otherworlds_c)
